input {
  display: inline-block;
  text-align: middle;
  width:  300px;
}​

 /*My knowledge of css isnt strong to understand why, but without this here the css gets wonky, so im just gonna leave it*/
h {
  x:d;
  icanput:anythinghere;
}

body {
  vertical-align: middle;
  background-color: #9ec3ff;
}

.listItem {
  height: 30px;
  position: relative;
  display:flex;
  align-items:center;
}

.name {
  display: inline-block;
  padding-right: 5px;
  font-size: 15px;
}

.option {
  position: absolute;
  float: right;
}

.delete {
  right: -3px;
}

.edit {
  right: 51px;
}
